.block-features-four {
    flex-direction: column;
    row-gap: 32px;
    display: flex;
    .block-features-four-wrapper {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        @include md {
            grid-template-columns: 1fr;
        }
        .feature-card {
            height: 500px;
            position: relative;
            @include min-md {
                overflow: hidden;
                &:hover {
                    .feature-bg {
                        transform: scale(1.05);
                    }
                }
            }
            @include lg {
                height: 400px;
            }
            @include sm {
                height: unset;
            }
            .feature-bg {
                height: 100%;
                background-repeat: no-repeat;
                position: absolute;
                width: 100%;
                z-index: -1;
                background-size: cover;
                background-position: center;
                transition: all 0.4s ease;
            }
            .feature-overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: -1;
            }
            .feature-content {
                align-self: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                height: 100%;
                row-gap: 12px;
                padding-left: 40px;
                padding-right: 40px;
                @include sm {
                    min-height: 300px;
                    padding-top: 24px;
                    padding-bottom: 24px;
                }
                .feature-eyebrow {
                    font-size: 14px;
                    color: $white;
                    line-height: 1.5;
                }
                .feature-title {
                    color: $white;
                    font-size: 36px;
                    line-height: 1;
                    text-transform: uppercase;
                    @include md {
                        font-size: 28px;
                    }
                }
                .feature-text {
                    color: $white;  
                    font-size: 16px;
                    line-height: 1.5;
                }
                .feature-cta {
                    @include button1;
                    margin: 48px 0 0 0;
                    @include sm {
                        margin: 24px 0 0 0;
                    }
                }
            }
        }
        &.gallery-layout {
            display: flex;
            flex-direction: column;
            .feature-row {
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                @include md {
                    grid-template-columns: 1fr;
                }
                &.full-row {
                    grid-template-columns: 1fr;
                }
            }
        }
    }
    .block-features-gallery-button {
        a {
            @include button2;
        }
    }
}