.block-image-and-content-comb-rev {
    row-gap: 60px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    @include md {
        row-gap: 48px;
    }
    .title-row {
        &-wrapper {
            display: flex;
            column-gap: 48px;
            justify-content: space-between;
            @include min-md {
                flex: 0 0 auto;
                 width: 58.33333333%;
            }
            .title-left {
                color: $white;
                flex-direction: column;
                display: flex;
                row-gap: 12px;
                &-upside {
                    font-size: 14px;
                    line-height: 1.5;
                    font-weight: 500;
                }
                &-downside {
                    font-size: 64px;
                    line-height: 1;
                    font-weight: 400;
                    @include md {
                        font-size: 36px;
                    }
                }
            }
            &.two-cols {
                .title-left {
                    flex: 1;
                }
                @include md {
                    flex-direction: column;
                    row-gap: 24px;
                }
            }
            &:not(.two-cols) {
                .title-left {
                    max-width: 800px;
                }
            }
            .title-right {
                flex: 1;
                color: $white;
                font-size: 16px;
                line-height: 1.4;
                font-weight: 400;
                display: flex;
                align-items: end;
            }
        }
    }
    .txt-image-row {
        .container {
            position: relative;
            height: 100%;
            display: flex;
            @include md {
                flex-direction: column;
                row-gap: 48px;
            }
        }
        .img {
            position: relative;
            min-height: 600px;
            @include md {
                min-height: 400px;
            }
            @include xs {
                min-height: 200px;
            }
            img {
               position: absolute;
                width: 100vw;
                object-fit: cover;
                height: 100%;
                right: 0;
                @include min-md {
                    right: 16px;
                }
            }
        }
        .content {
            @include min-md {
                align-self: end;
            }
            .content-left {
                display: flex;
                flex-direction: column;
                row-gap: 32px;
                 @include min-md {
                    padding-left: 48px;
                }
                .content-wrapper {
                    display: flex;
                    flex-direction: column;
                    row-gap: 24px;
                    color: $white;
                    .up-title {
                        font-size: 14px;
                        line-height: 1.5;
                        font-weight: 500;
                    }
                    .middle-title {
                        font-size: 36px;
                        line-height: 1;
                        font-weight: 500;
                    }
                    .down-title {
                        font-size: 16px;
                        line-height: 1.4;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}
/* Image - Content Comb style END */