.banner__section {
    display: flex;
    align-items: center;
    min-height: 512px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    height: 760px;
    @include md {
        height: 668px;
    }
    .container {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .image-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        top: 0;
        left: 0;
        z-index: -1;
    }
    .video-wrapper {
            z-index: -1;
            position: absolute;
            width: 100%;
            height: 100%;
        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            content: "";
            top: 0;
            left: 0;
        }
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .centerized-content {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        text-align: center;
        @include md {
            row-gap: 16px;
        }
        h1 {
            color: $white;
            font-size: 96px;
            font-weight: 400;
            line-height: 1.2;
            @include md {
                font-size: 44px;
            }
        }
        p {
            color: $white;
            font-size: 16px;
            line-height: 1.4;
            font-weight: 400;
            max-width: 570px;
            margin: 0 auto;
        }
        .default-btn {
            @include md {
                margin-top: 24px;
            }
            a {
                @include button1;
            }
        }
    }
}