.site-archive {
    &.archive-page {
        padding-top: calc(120px + var(--header-height));

        @include md {
            padding-top: calc(80px + var(--header-height));
        }
    }
    .archive-layout {
        display: flex;
        gap: 30px;
        padding: 40px 0;

        @media (max-width: 991.98px) {
            flex-direction: column;
            gap: 20px;
        }
    }

     .archive-content {
            flex: 1;
            min-width: 0; // Prevents flex item from overflowing

            .page-header {
                margin-bottom: 10px;
            }

            .articles {
                display: flex;
                flex-direction: column;
                row-gap: 10px;
            }
        }

    #secondary {
        border: 1px solid $primaryRed;
        flex: 0 0 300px; // Fixed width for sidebar
        max-width: 300px;
        position: sticky;
        top: 0;
        border-radius: 16px;

        @media (max-width: 991.98px) {
            flex: none;
            max-width: 100%;
        }
    }
}
