.site-archive {
    &.archive-page-main-posts {
        padding-top: calc(120px + var(--header-height));

        @include md {
            padding-top: calc(80px + var(--header-height));
        }
        .archive-layout {
            .archive-content {
                color: $white;
            }
        }
    }
}