.site-single {
    .intro {
        height: 250px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(.5);
        }
    }
    .content {
        margin-bottom: 60px;
        color: $white;
        margin-top: 60px;
        @include md {
            margin-bottom: 20px;
        }
    }
} 