.page-template-template-about-us {
    .simple-section-with-buttons {
        background-color: $secondayDarkRed;
        display: flex;
        align-items: center;
        min-height: 500px;
        padding: 60px 0;
        @include md {
            padding: 40px 0;
        }
        &__inner {
                display: flex;
                flex-direction: column;
                row-gap: 24px;
                text-align: center;
                color: $white;
                @include md {
                    row-gap: 16px;
                }
            }
            &__icon {
                width: 48px;
                height: 48px;
                margin: auto;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            &__uptitle {
                font-size: 14px;
                color: $white;
                font-weight: 500;
                line-height: 1.5;
                
            }
            &__title {
                font-weight: 400;
                font-size: 64px;
                line-height: 1;
                @include md {
                    font-size: 36px;
                }
            }
            &__text {
                max-width: 700px;
                margin: auto;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.5;
                @include xs {
                    font-size: 14px;
                }
            }
        .btns {
            display: flex;
            column-gap: 24px;
            justify-content: center;
            @include md {
                row-gap: 16px;
            }
            .default-btn {
            &-one {
            a {
                @include button2;
            }
            }
            &-two {
                a {
                    @include button1;
                }
            }
        }
        }
    }
    .block-image-and-content-comb {
        padding: 100px 0;
        row-gap: 70px;
        @include md {
            padding: 60px 0;
            row-gap: 24px;
        }
    }
    .title-row {
        .title-row-wrapper {
            &.single-col {
                @include min-md {
                    flex: 0 0 auto;
                    width: calc(50% + 100px);
                }
            }
        }
    }
    .block-team {
        flex-direction: column;
        display: flex;
        row-gap: 80px;
        margin-bottom: 80px;
        @include md {
            row-gap: 40px;
            margin-bottom: 40px;
        }
        .section-header {
            @include md {
                .section-header-subtitle {
                    max-width: 350px;
                    margin: auto;
                }
            }
        }
        .team-tabs {
            display: flex;
            @include min-lg {
                justify-content: center;
            }
            .team-tab {
                display: inline-block;         
                text-transform: uppercase;
                font-size: 16px;
                color: $white;
                background: transparent;
                line-height: 1.2;
                font-weight: 600;
                text-align: left;
                opacity: .6;
                &.is-active {
                    opacity: 1;
                }
            }
            &.desktop-only {
                overflow: auto;
                flex-wrap: nowrap;
                padding-bottom: 8px;
                &::-webkit-scrollbar {
                    height: 4px;
                }
                &::-webkit-scrollbar-track {
                    background: transparent;   
                }
                &::-webkit-scrollbar-thumb {
                    background-color: #201211;
                    border-radius: 20px;    
                }
                .team-tab {
                    flex: 0 0 auto;
                    white-space: nowrap;
                    &:not(:last-of-type) {
                        padding-right: 24px;
                        margin-right: 24px;
                        border-right: 1px solid $primaryRed;
                    }
                    @include min-lg {
                        max-width: max-content;        
                    }
                } 
            }
            &-swiper {
                height: 90px;
                align-items: center;
                .swiper-wrapper {
                    .swiper-slide {
                         display: inline-block;         
                        text-transform: uppercase;
                        font-size: 14px;
                        color: $white;
                        background: transparent;
                        line-height: 1.5;
                        font-weight: 500;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 55px;
                        overflow: hidden;
                        @include sm {
                            &:not(.swiper-slide-active) {
                                opacity: 0;
                            }
                        }
                    }
                }
                .team-tabs-pagination {
                    bottom: 0;
                    .swiper-pagination-bullet {
                        background-color: $white;
                        opacity: .6;
                        &-active {
                            opacity: 1;
                            
                        }
                    }
                }
                .team-tabs-next, .team-tabs-prev {
                    width: 55px;
                    height: 55px;
                    top: unset;
                    &:after {
                        background-repeat: no-repeat;
                        background-position: center;
                        content: '';
                        width: 26px;
                        height: 26px;
                        display: flex;
                        top: -8px;
                        position: relative;
                    }
                }
                .team-tabs-prev{
                    &:after {
                        background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.20167 12.5L12.8567 22.1533L11.6667 23.3333L0 11.6667L11.6667 0L12.8567 1.18L3.2 10.8333H23.3333V12.5H3.20167Z" fill="white"/></svg>');
                    }
                }
                .team-tabs-next{
                    &:after {
                        background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.1323 10.8335L10.4773 1.18016L11.6673 0.000163012L23.334 11.6668L11.6673 23.3335L10.4773 22.1535L20.134 12.5002L0.00065326 12.5002L0.000653406 10.8335L20.1323 10.8335Z" fill="white"/></svg>');
                    }
                }
            }
        }
        .team-content {
            margin-top: 60px;
            .team-panel {
                display: none;
                &.is-active {
                    display: block;
                }
            }
        }
        .team-content-swiper {
            .swiper-slide {
                @include sm {
                    &:not(.swiper-slide-active) {
                        opacity: 0;
                    }
                }
            }
        }
        .mobile-only {
            display: none;
        }
        @include sm {
            .desktop-only {
                display: none!important;
            }

            .mobile-only {
                display: flex;
            }
        }
        @include xs {
            .container {
                &-slider {
                     overflow: unset;
                    padding: 0;
                    .desktop-only, .mobile-only {
                        padding: 0 40px;
                    }
                }
            }
        }
    }
    .team-grid {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 60px;
        row-gap: 60px;
        display: grid;
        text-align: center;
        @include md {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 40px;
        }
        @include sm {
            grid-template-columns: repeat(1, 1fr);
        }
        .team-member {
            text-align: center;
            color: $white;
            .team-thumbnail {
                justify-content: center;
                display: flex;
                width: 80px;
                height: 80px;
                margin: 0 auto 24px auto;
                border-radius: 50%;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .team-name {
                font-size: 24px;
                line-height: 1.2;
                @include md {
                    font-size: 20px;
                }
            }
            .team-position {
                font-size: 16px;
                font-weight: 400;
                line-height: 1.4;
            }
            .description {
                font-size: 16px;
                line-height: 1.4;
                margin: 16px 0;
                &__inner {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 5;
                    overflow: hidden;
                }

                &.is-expanded {
                    .description__inner {
                        display: block;
                        -webkit-line-clamp: unset;
                        overflow: visible;
                    }
                }
                .readmore-btn {
                    display: inline-flex; 
                    background: none;
                    border: 0;
                    margin-top: 6px;
                    cursor: pointer;
                    color: $white;
                    letter-spacing: 1.5px;
                    position: relative;
                    width: fit-content;
                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        width: 100%;
                        bottom: 1px;
                        border-bottom: 1px solid $white;
                    }
                    &.is-visible {
                        display: inline-flex !important;
                    }
                }
            }
            .team-social {
                display: flex;
                column-gap: 24px;
                justify-content: center;
                a {
                    font-size: 24px;
                    i {
                        color: $white;
                    }
                }
            }
        }
    }
    .testimonial-slider {
        margin-top: 80px;
        @include md {
            margin-top: 0px;
        }
    }
    .simple-cta {
        background-color: $primaryBlue;
        display: flex;
        align-items: center;
        min-height: 300px;
        padding: 40px 0;
        @include md {
            min-height: 260px;
        }
        &__inner {
            display: flex;
            flex-direction: column;
            row-gap: 32px;
            text-align: center;
            color: $white;
        }
        &__title {
            font-weight: 400;
            font-size: 64px;
            line-height: 1;
            @include md {
                font-size: 36px;
            }
        }
        &__text {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            @include xs {
                font-size: 14px;
            }
        }
        .link-btn {
            @include button1;
        }
    }
}