.blogs__section {
    .section-header {
        margin-bottom: 60px;
        @include md {
            margin-bottom: 40px;
        }
    }
    .row {
        @include md {
            row-gap: 40px;
        }
        .blog__item {
            color: $white;
            flex-direction: column;
            row-gap: 32px;
            display: flex;
            .blog__image {
                height: 200px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &-content {
                flex-direction: column;
                display: flex;
                row-gap: 12px;
                .blog__meta {
                    display: flex;
                    column-gap: 32px;
                    .blog__tag {
                        font-size: 14px;
                        padding: 4px 10px;
                        font-weight: 400;
                        background-color: $secondayDarkRed;
                    }
                    .blog__readtime {
                        font-size: 14px;
                        display: flex;
                        align-items: center;
                        font-weight: 400;
                        line-height: 1.5;
                    }
                }
                .blog__title {
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 1.2;
                    @include md {
                        font-size: 20px;
                    }
                }
                .blog__excerpt {
                    font-size: 16px;
                    line-height: 1.4;
                }
                .blog__readmore {
                    margin-top: 12px;
                    font-size: 14px;
                    line-height: 1;
                    text-transform: uppercase;
                    font-weight: 600;
                    span {
                        margin-left: 6px;
                        top: -1px;
                        position: relative;
                        svg {
                            width: 5px;
                            height: 10px;
                        }
                    }
                }
            }
        }
    }
    .blogs__viewall {
        display: flex;
        width: fit-content;
        margin-top: 60px;
        margin-left: auto;
        @include md {
             margin-right: auto;
        }
        a {
            @include button2;
        }        
    } 
}