.page-template-template-yachtclub {
    .block-image-and-content-comb {
        .btns {
            .default-btn {
                &-one {
                    a {
                        background-color: $primaryBlue;
                    }
                }
            }
        }
    }
    .register-right {
        .default-btn {
            &-one {
                a {
                    background-color: $primaryBlue!important;
                }
            }
        }
    }
}

.page-template-template-general, .page-template-template-community {
    footer {
        margin-top: 80px;
    }
}

.page-template-frontpage {
    .block-image-and-text {
        .content-row {
            .content-left {
                p {
                    text-transform: uppercase;
                }
            }
        }
    }
}

.page-template-default {
    .site-page {
        color: $white;
        padding-top: calc(120px + var(--header-height));
        padding-bottom: 80px;

        @include md {
            padding-top: calc(80px + var(--header-height));
            padding-bottom: 40px;
        }
    }
}

.page-template-template-simple-content {
    .site-simple-content {
        color: $white;
        padding-top: calc(120px + var(--header-height));
        padding-bottom: 80px;

        @include md {
            padding-top: calc(80px + var(--header-height));
            padding-bottom: 40px;
        }
    }
}

.page-template-template-privacy {
    .site-privacy {
        color: $white;
        padding-top: calc(120px + var(--header-height));
        padding-bottom: 80px;

        @include md {
            padding-top: calc(80px + var(--header-height));
            padding-bottom: 40px;
        }
    }
}