.page-template-template-yachtclub {
    .block-image-and-content-comb {
        .btns {
            .default-btn {
                &-one {
                    a {
                        background-color: $primaryBlue;
                    }
                }
            }
        }
    }
    .register-right {
        .default-btn {
            &-one {
                a {
                    background-color: $primaryBlue!important;
                }
            }
        }
    }
}

.page-template-template-real-estate, .page-template-template-about-us, .page-template-template-motorclub, .page-template-template-livestyle, .page-template-template-yachtclub {
    footer {
        margin-top: 0!important;
    }
}

.page-template-template-general {
    footer {
        margin-top: 80px;
    }
}