.page-template-template-yachtclub {
    .block-image-and-content-comb {
        .btns {
            .default-btn {
                &-one {
                    a {
                        background-color: $primaryBlue;
                    }
                }
            }
        }
    }
    .register-right {
        .default-btn {
            &-one {
                a {
                    background-color: $primaryBlue!important;
                }
            }
        }
    }
}

.page-template-template-general, .page-template-template-miscellaneius {
    footer {
        margin-top: 80px;
    }
}

.page-template-frontpage {
    .block-image-and-text {
        .content-row {
            .content-left {
                p {
                    text-transform: uppercase;
                }
            }
        }
    }
}