@font-face {
    font-family: "intercoastal";
    font-display: swap;
    font-style: normal;
    font-weight: 100; /* Thin */
    src: url(../fonts/FreightNeo-Light.woff2) format('woff2'),
         url(../fonts/FreightNeo-Light.woff) format('woff');
}

@font-face {
    font-family: "intercoastal";
    font-display: swap;
    font-style: normal;
    font-weight: 200; /* Extra Light */
    src: url(../fonts/FreightNeo-Light.woff2) format('woff2'),
         url(../fonts/FreightNeo-Light.woff) format('woff');
}

@font-face {
    font-family: "intercoastal";
    font-display: swap;
    font-style: normal;
    font-weight: 300; /* Light */
    src: url(../fonts/FreightNeo-Light.woff2) format('woff2'),
         url(../fonts/FreightNeo-Light.woff) format('woff');
}

@font-face {
    font-family: "intercoastal";
    font-display: swap;
    font-style: normal;
    font-weight: 400; /* Regular */
    src: url(../fonts/FreightNeo-Book.woff2) format('woff2'),
         url(../fonts/FreightNeo-Book.woff) format('woff');
}

@font-face {
    font-family: "intercoastal";
    font-display: swap;
    font-style: normal;
    font-weight: 500; /* Medium */
    src: url(../fonts/FreightNeo-Medium.woff2) format('woff2'),
         url(../fonts/FreightNeo-Medium.woff) format('woff');
}

@font-face {
    font-family: "intercoastal";
    font-display: swap;
    font-style: normal;
    font-weight: 600; /* Semi-Bold */
    src: url(../fonts/FreightNeo-SemiBold.woff2) format('woff2'),
         url(../fonts/FreightNeo-SemiBold.woff) format('woff');
}

@font-face {
    font-family: "intercoastal";
    font-display: swap;
    font-style: normal;
    font-weight: 700; /* Bold */
    src: url(../fonts/FreightNeo-Bold.woff2) format('woff2'),
         url(../fonts/FreightNeo-Bold.woff) format('woff');
}

@font-face {
    font-family: "intercoastal";
    font-display: swap;
    font-style: normal;
    font-weight: 800; /* Extra Bold */
    src: url(../fonts/FreightNeo-Black.woff2) format('woff2'),
         url(../fonts/FreightNeo-Black.woff) format('woff');
}

@font-face {
    font-family: "intercoastal";
    font-display: swap;
    font-style: normal;
    font-weight: 900; /* Black */
    src: url(../fonts/FreightNeo-Black.woff2) format('woff2'),
         url(../fonts/FreightNeo-Black.woff) format('woff');
}
