/* Fonts START*/

// body{
//     @media(min-width: 450px) { font-size: 15px; }
//     @media(min-width: 991.98px) { font-size: 16px; }
//     font-size: 14px;
// }
// .h1,h1{
//     @media(min-width: 450px) { font-size: 36px; }
//     @media(min-width: 991.98px) { font-size: 40px; }
//     font-size: 24px;
// }
// .h2,h2{
//     @media(min-width: 450px) { font-size: 28px; }
//     @media(min-width: 991.98px) { font-size: 32px; }
//     font-size: 22px;
// }
// .h3,h3{
//     @media(min-width: 450px) { font-size: 24px; }
//     @media(min-width: 991.98px) { font-size: 28px; }
//     font-size: 18px;
// }
// .h4,h4{
//     @media(min-width: 450px) { font-size: 20px; }
//     @media(min-width: 991.98px) { font-size: 24px; }
//     font-size: 16px;
// }
// .h5,h5{
//     @media(min-width: 450px) { font-size: 18px; }
//     @media(min-width: 991.98px) { font-size: 20px; }
//     font-size: 14px;
// }
// .h6,h6{
//     @media(min-width: 450px) { font-size: 14px; }
//     @media(min-width: 991.98px) { font-size: 16px; }
//     font-size: 12px;
// }

//Version used from Bootstrap which can be customized and set like this
// font-size: calc(3.375rem + 1.5vw);

@font-face {
    font-family: "intercoastal";
    font-display: swap;
    font-style: normal;
    font-weight: 100; /* Thin */
    src: url(../fonts/FreightNeo-Light.ttf) format('truetype'),
         url(../fonts/FreightNeo-Light.woff2) format('woff2'),
         url(../fonts/FreightNeo-Light.woff) format('woff');
}

@font-face {
    font-family: "intercoastal";
    font-display: swap;
    font-style: normal;
    font-weight: 200; /* Extra Light */
    src: url(../fonts/FreightNeo-Light.ttf) format('truetype'),
         url(../fonts/FreightNeo-Light.woff2) format('woff2'),
         url(../fonts/FreightNeo-Light.woff) format('woff');
}

@font-face {
    font-family: "intercoastal";
    font-display: swap;
    font-style: normal;
    font-weight: 300; /* Light */
    src: url(../fonts/FreightNeo-Light.ttf) format('truetype'),
         url(../fonts/FreightNeo-Light.woff2) format('woff2'),
         url(../fonts/FreightNeo-Light.woff) format('woff');
}

@font-face {
    font-family: "intercoastal";
    font-display: swap;
    font-style: normal;
    font-weight: 400; /* Regular */
    src: url(../fonts/FreightNeo-Book.ttf) format('truetype'),
         url(../fonts/FreightNeo-Book.woff2) format('woff2'),
         url(../fonts/FreightNeo-Book.woff) format('woff');
}

@font-face {
    font-family: "intercoastal";
    font-display: swap;
    font-style: normal;
    font-weight: 500; /* Medium */
    src: url(../fonts/FreightNeo-Medium.ttf) format('truetype'),
         url(../fonts/FreightNeo-Medium.woff2) format('woff2'),
         url(../fonts/FreightNeo-Medium.woff) format('woff');
}

@font-face {
    font-family: "intercoastal";
    font-display: swap;
    font-style: normal;
    font-weight: 600; /* Semi-Bold */
    src: url(../fonts/FreightNeo-SemiBold.ttf) format('truetype'),
         url(../fonts/FreightNeo-SemiBold.woff2) format('woff2'),
         url(../fonts/FreightNeo-SemiBold.woff) format('woff');
}

@font-face {
    font-family: "intercoastal";
    font-display: swap;
    font-style: normal;
    font-weight: 700; /* Bold */
    src: url(../fonts/FreightNeo-Bold.ttf) format('truetype'),
         url(../fonts/FreightNeo-Bold.woff2) format('woff2'),
         url(../fonts/FreightNeo-Bold.woff) format('woff');
}

@font-face {
    font-family: "intercoastal";
    font-display: swap;
    font-style: normal;
    font-weight: 800; /* Extra Bold */
    src: url(../fonts/FreightNeo-Black.ttf) format('truetype'),
         url(../fonts/FreightNeo-Black.woff2) format('woff2'),
         url(../fonts/FreightNeo-Black.woff) format('woff');
}

@font-face {
    font-family: "intercoastal";
    font-display: swap;
    font-style: normal;
    font-weight: 900; /* Black */
    src: url(../fonts/FreightNeo-Black.ttf) format('truetype'),
         url(../fonts/FreightNeo-Black.woff2) format('woff2'),
         url(../fonts/FreightNeo-Black.woff) format('woff');
}
/* Fonts END*/