/* General style START*/
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

p,
ul {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

button,
input {
    outline: none;
    border: none;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: intercoastal, sans-serif;
    background-color: $black;
    &.overflow-hidden {
        overflow: hidden;
    }
}

.d-none {
    display: none !important;
}

.d-none-desktop {
    @include min-md {
        display: none;
    }
}

.d-none-mobile {
    @include md {
        display: none;
    }
}

p,
h2,
h1,
h3 {
    margin-bottom: 0;
}

.tab-content>.tab-pane {
    display: none;
}

.fade:not(.show) {
    opacity: 0;
}

.fade {
    transition: opacity .15s linear;
}

.tab-content>.active {
    display: block;
}

.centerize {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

#primary {
    @include min-md {
        min-height: 75vh;
    }
}

//class for title
.section-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    &-uptitle {
        font-size: 14px;
        color: $white;
        font-weight: 500;
        line-height: 1.5;
    }
    &-title {
        font-size: 64px;
        color: $white;
        font-weight: 400;
        line-height: 1;
        @include md {
            font-size: 36px;
        }
    }
    &-subtitle {
        font-size: 16px;
        color: $white;
        line-height: 1.4;
        font-weight: 400;
    }
}

.header-sticky {
     &.body-on-scroll {
         header {
             width: 100%;
             position: fixed;
             top: 0;
         }
         #page {
            // top: 70px;
            position: relative;
         }
     }
 }

#page {
    top: var(--header-height);
}

.container {
    @include xs {
        padding-left: 40px;
        padding-right: 40px;
    }
}
/* General style END*/