$white: #fff;
$white-light: #f9f9f9;
$black: #000;
$grey-color: #888;

$primaryRed: #A1140B;
$primaryBlue: #003049;
$secondayDarkRed: #37000A;

@mixin transition {
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

@mixin button1 {
    border: 1px solid $white;
    padding: 8px 16px;
    height: 42px;
    width: fit-content;
    min-width: 85px;
    color: $white;
    text-align: center;
    display: flex;
    margin: auto;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    @include transition;
    background-color: transparent;
    text-transform: uppercase;
    justify-content: center;
    &:hover {
        background-color: $secondayDarkRed;
        border-color: transparent;
    }
}

@mixin button2 {
    padding: 16px;
    height: 42px;
    width: fit-content;
    min-width: 85px;
    color: $white;
    text-align: center;
    display: flex;
    margin: auto;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    @include transition;
    background-color: $primaryRed;
    justify-content: center;
    &:hover {
        background-color: $secondayDarkRed;
    }
}