/* Footer Default Start*/
footer {
    padding: 0px 0px;
    .site-footer-columns {
        padding: 30px 0;
        background: $white;
        .col-lg-3 {
            margin: 30px 0;
            @include md {
                max-width: 600px;
                &:first-child {
                    margin-top: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
            @include sm {
                max-width: 90%;
            }
        }
        .widget-title {
            font-size: 30px;
            display: block;
            .social-media-ul {
                display: flex;
            }
        }
    }
    .site-footer-copyrights {
        padding: 10px 0;
        background: $black;
        p {
            margin: 0;
            text-align: center;
            color: $white;
        }
    }
    .logo_footer {
        z-index: 3;
        .widget-wrapper {
            height: 40px;
            max-width: 170px;
            img {
                width: 100%;
                height: 100% !important;
                -o-object-fit: contain;
                object-fit: contain;
                -o-object-position: left;
                object-position: left;
            }
        }
    }
}

/* Footer Default End*/